@import url('../css/global.css');

h1,h2 {
  margin: 0 0 1rem;
}

/* Layout */
.product_cont {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: 1rem;
}

/* Sidebar */
.sidebar_hdr {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: space-between;
}

.sidebar,
.results_hdr {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-group {
  margin-bottom: 1rem;
}

.filter-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.filter-group select,
.filter-group input,
.filter-group button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#price-range {
  width: 100%;
  margin-inline: -0.5rem;
}

.price-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

#current-price {
  font-weight: bold;
}


/* model Grid */
.model_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.model_card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
}

.model_card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.model_card h3 {
  margin: 0 0 0.5rem;
}

.model_card p {
  font-size: 1.1rem;
  color: #555;
}