
/* Desktop */
@media (width > 1280px){
    .flex {
        grid-template-rows: repeat(3, auto) 1fr repeat(1, auto);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "g_hdr g_hdr g_hdr g_hdr g_hdr"
            "g_vid g_vid g_vid g_vid g_vid"
            "g_ads_cont_cont g_nav_cont g_nav_cont g_nav_cont g_ads"
            "g_ads_cont_cont g_main_cont g_main_cont g_main_cont g_ads"
            "g_foot g_foot g_foot g_foot g_foot"
        ;
    }

    .header_cont {
        grid-area: g_hdr;
    }

    .video_cont {
        grid-area: g_vid;
    }

    .nav_cont {
        grid-area: g_nav_cont;
    }

    .main_cont {
        grid-area: g_main_cont;
    }

    .ads_cont_cont {
        grid-area: g_ads_cont_cont;
    }

    .ads {
        grid-area: g_ads;
    }

    .footer_cont {
        grid-area: g_foot;
    }

}