* {
    border: 2px solid rgb(0, 0, 0);
}
/* Design is Mobile-first,
    Design for desktops from 1280×720 to 1920×1080
    Design for tablets from 601×962 to 1280×800
    Design for mobiles from 360×640 to 414×896
conditioned by media-querries for Tablet & Desktop */

.flex {
    display: grid;
    /* align-items:  center; */
    height: 80vh;
    /* split ratio so both sides are auto,
    and middle spans as much as remains */
    grid-template-rows: repeat(2,auto) 1fr repeat(3,auto);
    gap: 20px; 
}

div{
    border: 1px solid lime;
}

.header{
    background-color: grey;
}
.video{
    background-color: grey;
}
.nav{
    background-color: lightgrey;
}
.main{
    background-color: lightblue;

}
.side{
    background-color: lightpink;
}
.ads{
    background-color: lightgreen;
}
.footer{
    background-color: grey;
}

/* Tablet */
@media  (width > 414px ) and (height > 896px ) {
    .flex{
        grid-template-rows: repeat(4,auto) 1fr repeat(1,auto);
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "g_hdr g_hdr g_hdr g_hdr"
        "g_vid g_vid g_vid g_vid"
        "g_nav g_nav g_nav g_nav"
        "g_side g_main g_main g_main"
        "g_ads g_foot g_foot g_foot"
        ;
    }
    .header{grid-area: g_hdr;}
    .video{grid-area: g_vid;}
    .nav{grid-area: g_nav;}
    .main{grid-area: g_main;}
    .side{grid-area: g_side;}
    .ads{grid-area: g_ads;}
    .footer{grid-area: g_foot;}
}

/* Desktop */
@media  (width > 1280px ) and (height > 800px ) {
    .flex{
        grid-template-rows: repeat(3,auto) 1fr repeat(1,auto);
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: 
        "g_hdr g_hdr g_hdr g_hdr g_hdr"
        "g_vid g_vid g_vid g_vid g_vid"
        "g_side g_nav g_nav g_nav g_ads"
        "g_side g_main g_main g_main g_ads"
        "g_foot g_foot g_foot g_foot g_foot"
        ;
    }
    .header{grid-area: g_hdr;}
    .video{grid-area: g_vid;}
    .nav{grid-area: g_nav;}
    .main{grid-area: g_main;}
    .side{grid-area: g_side;}
    .ads{grid-area: g_ads;}
    .footer{grid-area: g_foot;}
}

/* shortcuts for vscode - gtc =  grid-template-columns*/