@import url('../css/global.css');

h1,
h2 {
  margin: 0 0 1rem;
}

.layout_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin: 2em 2em; */
}

.product_hdr {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: space-between;
}

.product_cont,
.results_hdr {
  margin-top: 1.5em;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-group {
  margin: 1rem;
}

.filter-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.filter-group select,
.filter-group input,
.filter-group button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#warrenty-range {
  width: 100%;
  margin-inline: -0.5rem;
}

.warrenty-labels,
.price-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

#current-price {
  font-weight: bold;
}

/* Layout for Image Selection Radio*/
.img_selector_cont {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.image_wrap {
 width: 50vw;
}

.product_image {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* Image Displayig Condition */
#radio-oem:checked + img#img-eom {
  display: block;
}

/* Show Refurbished image when radio-refurbished is selected */
#radio-refurbished:checked + img#img-refurbished {
  display: block;
}

/* Show Used image when radio-used is selected */
#radio-used:checked + img#img-used {
  display: block;
}